body {
  background-image: url(/images/background3.jpg);
  background-repeat: repeat;
  font-family: "Trebuchet MS", Helvetica, sans-serif; }
  body h1 {
    color: DarkCyan;
    text-align: center; }
  body h2 {
    color: DarkCyan;
    text-align: center; }
  body h3 {
    color: DarkCyan;
    text-align: justify; }
  body h4 {
    color: DarkCyan;
    text-align: justify; }
  body p {
    text-align: justify; }
  body img {
    width: 100%; }
