body {
  background-image: url(../images/background3.jpg);
  font-family: "Trebuchet MS", Helvetica, sans-serif; }
  body h1 {
    color: DarkCyan;
    text-align: center; }
  body h2 {
    color: DarkCyan;
    text-align: center; }
  body h3 {
    color: DarkCyan;
    text-align: center; }
  body ol {
    color: DarkCyan;
    padding-left: 30%;
    padding-right: 30%; }
  body ul {
    color: DarkCyan;
    padding-left: 30%;
    padding-right: 30%; }
  body p {
    color: DarkCyan;
    padding-left: 40px;
    padding-right: 40px;
    margin: 11px;
    text-align: justify; }
  body img {
    border: 5px solid;
    border-color: white;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 22%; }
