body {
	background-image: url(../images/background3.jpg);
	font-family: "Trebuchet MS", Helvetica, sans-serif;

	h1 {
		color: DarkCyan;
		text-align: center;
	}

	h2 {
		color: DarkCyan;
		text-align: justify;
	}

	h3 {
		color: DarkCyan;
		padding-left: 50px;
		text-align: justify;
	}

	ol {
		color: DarkCyan;
		padding-left: 70px;
	}

	ul {
		color: DarkCyan;
		padding-left: 70px;
	}

	p {
		color: DarkCyan;
		padding-left: 40px;
		padding-right: 40px;
		margin: 11px;
		text-align: justify;
	}

	img {
		border: 5px solid;
		border-color: white;
		display: block;
		margin-left: auto;
		margin-right: auto;
		width: 22%;

	}
}
